name: Python Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest
    permissions: write-all

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller flake8
        pip install -r requirements.txt

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Build with PyInstaller
      run: pyinstaller main.spec

    - name: Copy config file and images
      run: |
        copy config.ini.example dist\smartcv\config.ini
        mkdir dist\smartcv\img
        copy -r img\GAME.png dist\smartcv\img\GAME.png
        copy -r img\TIME.png dist\smartcv\img\TIME.png

    - name: Create zip file
      run: |
        cd dist\smartcv
        powershell Compress-Archive -Path * -DestinationPath ..\release.zip

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: dist/release.zip
        tag: ${{ github.ref }}
        overwrite: true